Internet das Coisas/M6 - Vivencial/m6-iot.json
[
  {
    "id": "0a378525189bfe60",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8682490eeedefd6a",
    "type": "mqtt in",
    "z": "0a378525189bfe60",
    "name": "",
    "topic": "medicao_pressao",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "3242cc66f1ce83e9",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 330,
    "y": 200,
    "wires": [["f4b284b209be1754"]]
  },
  {
    "id": "f4b284b209be1754",
    "type": "file",
    "z": "0a378525189bfe60",
    "name": "Escreve Arquivo",
    "filename": "C:/Users/gabriel.hoffmann/workspace/unisinos/Internet das Coisas/M6 - Vivencial/teste-pressao.txt",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 560,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "62b55578f8097b2c",
    "type": "file in",
    "z": "0a378525189bfe60",
    "name": "Ler Arquivo",
    "filename": "C:/Users/gabriel.hoffmann/workspace/unisinos/Internet das Coisas/M6 - Vivencial/teste-pressao.txt",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": true,
    "x": 550,
    "y": 120,
    "wires": [["2ed7cb35d0c51253"]]
  },
  {
    "id": "3c5f2857c5371666",
    "type": "watch",
    "z": "0a378525189bfe60",
    "name": "Verificar Arquivo",
    "files": "C:\\\\Users\\\\gabriel.hoffmann\\\\workspace\\\\unisinos\\\\Internet das Coisas\\\\M6 - Vivencial\\\\teste-pressao.txt",
    "recursive": "",
    "x": 320,
    "y": 120,
    "wires": [["62b55578f8097b2c"]]
  },
  {
    "id": "2ed7cb35d0c51253",
    "type": "function",
    "z": "0a378525189bfe60",
    "name": "Mapear Gráfico",
    "func": "const messageList = msg.payload.split('\\n')\nconst chart = [{\n    series: ['Pressão'],\n    data: [messageList.map((value, index) => ({ x: index, y: value }))],\n    labels:[\"\"]\n}]\n\nmsg.payload = chart\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 760,
    "y": 120,
    "wires": [["9669a32271807723"]]
  },
  {
    "id": "9669a32271807723",
    "type": "ui_chart",
    "z": "0a378525189bfe60",
    "name": "Pressão Média por Teste de Conforto",
    "group": "51514604f398645d",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "Pressão Média por Teste de Conforto",
    "chartType": "line",
    "legend": "false",
    "xformat": ".",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": true,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 905,
    "y": 120,
    "wires": [[]],
    "l": false
  },
  {
    "id": "7669dc2677f42f29",
    "type": "inject",
    "z": "0a378525189bfe60",
    "name": "Init",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 290,
    "y": 60,
    "wires": [["62b55578f8097b2c"]]
  },
  {
    "id": "3242cc66f1ce83e9",
    "type": "mqtt-broker",
    "name": "",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "51514604f398645d",
    "type": "ui_group",
    "name": "Pressão",
    "tab": "80e8592f5e7d015f",
    "order": 3,
    "disp": true,
    "width": "10",
    "collapse": false,
    "className": ""
  },
  {
    "id": "80e8592f5e7d015f",
    "type": "ui_tab",
    "name": "Dashboard",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
