Internet das Coisas/M6 - Vivencial/node-red-gpt.json
[
  {
    "id": "6d0a42e5.b4b4f4",
    "type": "mqtt in",
    "z": "33ea6a44.44a3f6",
    "name": "Leitura de Temperatura",
    "topic": "temperatura",
    "qos": "2",
    "datatype": "auto",
    "broker": "b9e9d4e5.ae6e6",
    "x": 130,
    "y": 180,
    "wires": [["6aa7f73f.2e6a5c"]]
  },
  {
    "id": "6aa7f73f.2e6a5c",
    "type": "function",
    "z": "33ea6a44.44a3f6",
    "name": "Salvar no Arquivo",
    "func": "var temperatura = msg.payload;\nvar caminhoArquivo = \"/path/do/seu/arquivo.txt\";\n\n// Salvar no arquivo\nvar arquivo = fs.openSync(caminhoArquivo, 'w');\nfs.writeSync(arquivo, temperatura);\nfs.closeSync(arquivo);\n\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 330,
    "y": 180,
    "wires": [["96310b5.177a338"]]
  },
  {
    "id": "96310b5.177a338",
    "type": "fs read",
    "z": "33ea6a44.44a3f6",
    "name": "Ler do Arquivo",
    "filename": "/path/do/seu/arquivo.txt",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 530,
    "y": 180,
    "wires": [["ed37f7b2.2e4f58"]]
  },
  {
    "id": "ed37f7b2.2e4f58",
    "type": "ui_text",
    "z": "33ea6a44.44a3f6",
    "group": "3fc60c88.2daa5",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Temperatura Atual",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 730,
    "y": 180,
    "wires": []
  },
  {
    "id": "b9e9d4e5.ae6e6",
    "type": "mqtt-broker",
    "z": "",
    "name": "Broker MQTT",
    "broker": "mqtt.eclipse.org",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "3fc60c88.2daa5",
    "type": "ui_group",
    "name": "Group 1",
    "tab": "b1f75f84.9d0bf8",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "b1f75f84.9d0bf8",
    "type": "ui_tab",
    "name": "Tab 1",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
